.start {
    margin-top: 2.5rem;
  }
  
  .start .pomo-btn {
    font-size: 4.8rem;
    font-weight: bold;
    padding: 0.2rem 4.5rem;
    color: var(--active-color);
    border: none;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform .5s;
}
  
  .start .pomo-btn:hover {
    opacity: 0.9;
    transform: translateY(-5px);
  }
  