*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}


body{
    background-color: $color-pink;
    font-family: 'Inconsolata', monospace, sans-serif;
}